<!DOCType html>
<html>
<head>
<base href="http://www.oliraug.com/"/>
<meta name="Olira" value="notranslate"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<script src = "C:/node_modules/angular/angular.js"></script>
<script type="text/javascript" src="C:/wamp/www/oliraug/school/2017/js/LoginController.js"></script>

<body ng-app='login' ng-controller='LoginController'>

<input id="login" name="submit" type="submit" value="Login">

</body>
</html>
